<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        table, td, th {
            border: 1px solid #a09ea8;
        }
    </style>
</head>
<body>
<div class="w3-container w3-teal">
    <form method="post">
        <input type="text" name="title" placeholder="Введите название книги" />
        <input type="text" name="description" placeholder="Описание книги" />
        <input type="text" name="printYear" placeholder="Год выпуска" />
        <input type="text" name="author" placeholder="Имя автора" />
        <input type="text" name="isbn" placeholder="ISBN книги" />
        <input readonly name="readAlready" value="false" />
        <button class="w3-circle w3-light-grey w3-pale-dark-grey w3-medium w3-padding-small">+</button>
    </form>
</div>
<div>Список книг:</div>
<form method="post" action="filter">
    <input type="text" name="title"/>
    <button type="submit" class="w3-btn w3-light-grey w3-pale-dark-grey w3-round-large w3-medium w3-padding-small">Найти</button>
</form>
{{#books}}
    <div class="w3-responsive">
        <table class="w3-table-all w3-hoverable w3-small w3-centered w3-striped">
            <tr>
                <th width="2%"><b>{{id}}</b></th>
                <th width="15%"><span >{{title}}</span></th>
                <th width="25%"><span>{{description}}</span></th>
                <th width="6%"><span>{{printYear}}</span></th>
                <th width="13%"><span>{{author}}</span></th>
                <th width="10%"><span>{{isbn}}</span></th>
                <th width="8%"><span>{{readAlready}}</span></th>
                <th width="8%"><a href="/read/{{id}}" class="w3-btn w3-light-grey w3-pale-dark-grey w3-round-large w3-small w3-padding-small">Прочитать</a></th>
                <th width="8%"><a href="edit/{{id}}" class="w3-btn w3-light-grey w3-pale-dark-grey w3-round-large w3-small w3-padding-small">Изменить</a></th>
                <th width="8%"><a href="remove/{{id}}" class="w3-btn w3-dark-gray w3-pale-light-gray w3-round-large w3-small w3-padding-small">Удалить</a></th>
            </tr>
        </table>
    </div>
{{/books}}
</body>
</html>