<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-teal">
    <form method="post">
        <input type="text" name="title" placeholder="Введите название книги" />
        <input type="text" name="description" placeholder="Описание книги" />
        <input type="text" name="printYear" placeholder="Год выпуска" />
        <input type="text" name="author" placeholder="Имя автора" />
        <input type="text" name="isbn" placeholder="ISBN книги" />
        <input type="text" name="readAlready" placeholder="" />
        <button class="w3-circle w3-gray w3-large">+</button>
    </form>
</div>
<div>Список книг:</div>
<form method="post" action="filter">
    <input type="text" name="title"/>
    <button type="submit">Найти</button>
</form>
{{#books}}
    <div>
        <b>{{id}}</b>
        <span>{{title}}</span>
        <span>{{description}}</span>
        <span>{{printYear}}</span>
        <span>{{author}}</span>
        <span>{{isbn}}</span>
        <span>{{readAlready}}</span>
        <a href="edit/{{id}}" class="w3-button w3-gray">Изменить</a>
    </div>
{{/books}}
</body>
</html>